<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    .bs-example {
      margin: 0px;
      font-size: medium;
    }
    li:hover{
      background-color: cornsilk;
      color: black;
      font-size: large;
      border-radius: 15px;
    }

    .navbar-brand{
      font-size: 20px;
      font-family: sans-serif;
    }
    .navbar {
      font-size: 16px;
      font-family: sans-serif;
      background-color: white;
    }
  </style>
</head>
<body>
    <nav  class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid">
        <a href="/" class="navbar-brand" style="font-size: x-large;color: #FF0018;"><i class="fas fa-heartbeat"></i>&nbsp; Blood Bag</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo02">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"{{home}}>
                    <a class="nav-link" style="color: #FF0018;" href="/"><i class="fas fa-home"></i>&nbsp; Home</i></a>
                </li>
                <li class="nav-item"{{patient}}>
                    <a class="nav-link" style="color: #FF0018;" href="/patient/patientlogin"><i class="fas fa-procedures"></i>&nbsp; Patient</i></a>
                </li>
                <li class="nav-item"{{donor}}>
                    <a class="nav-link" style="color: #FF0018;" href="/donor/donorlogin"><i class="fas fa-user"></i>&nbsp; Donor</i></a>
                </li>
                <li class="nav-item"{{admin}}>
                    <a class="nav-link" style="color: #FF0018;" href="/adminlogin"><i class="fas fa-user-shield"></i>&nbsp; Admin</i></a>
                </li>
                <li class="nav-item">{{guidlines}}
                  <a class="nav-link" style="color: #FF0018;" href="/guidlines"><i class="fa fa-info-circle"></i>&nbsp; Guidlines</i></a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
  </div>
</body>

</html>